.container {
  float:left;
  margin-right:10px;
}

/* MOBILE */
@media only screen and (max-width: 767px) {
  #box1{
    border: 1px solid;
    background-color: maroon;
    width: 100%;
  }
  
  #box2{
    width: 100%;
  }
  
  #box3{
    width: 100%;
  }
}
/* DESKTOP */
@media only screen and (min-width:992px) {
  #box1{
    width: 33.32%;
  }
  
  #box2{
    width: 33.32%;
  }
  
  #box3{
    width: 33.32%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #box1{
    width: 50%;
  }
  
  #box2{
    width: 50%;
  }
  
  #box3{
    width: 100%;
  }
}
